@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
}
:root{
    --bg-color:#0f295a;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color-scheme: dark;
    font-size: 15px;
}
@media (max-width: 767px){
    html{
        font-size: 18px;
    }
}
@media (max-width: 365px){
    html{
        font-size: 17px;
    }
}
body{
    background: var(--bg-color);
    background-size: cover;
    color: var(--text-color);
    margin:0;
    padding:0;
    width: 100%;
    max-width: 200vw;
    overflow-x: hidden;
} 
/*
.loading-container{
    display: flex;
    place-items: center;
    margin: 0;
    padding: 0;
}
.loader {  
    position: relative;    
    display: flex;  
    justify-content: center;  
    align-items: center;  
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
}  

.loader span {
    position: absolute;
    left: 0;
    width: 2px;
    height: 2px;
    margin-left: 20px;
    background-color: #3498db;
    border-radius: 8px;
    transform-origin: 10px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: blink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}  

@keyframes blink {  
    0% {  
        background-color: #3498db;  
    }  
    25% {  
        background-color: var(--bg-color);  
    }  
    50% {  
        background-color: var(--bg-color);   
    }  
    100% {  
        background-color: #3498db;   
    }  
}
*/

/*LOADING PAGE*/
/*
.loading-container {  
    text-align: center; 
    display: flex; 
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
} 
*/
/*
.loader {
    border: 5px dotted white;
    border-left: transparent;
    border-bottom: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2.5s infinite;
} 
*/

/*
.loader {
    border: 4px solid transparent;
    border-top: 4px  solid #3498db;
    border-bottom: 4px  solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .4s linear infinite;
} 

@keyframes spin {  
    0% { transform: rotate(0deg); }  
    100% { transform: rotate(360deg); }  
} 
#loading h1{
    font-size: 1.1rem;
    margin-top: 20px;
    color: white;
}
.content {  
    text-align: center;  
    margin-top: 20px;  
}
#content{
    display: none;
}
*/

/*HEADER SECTION*/
.header{
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    width:100%;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 white;
    background:var(--bg-color);
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 999;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logoo{
    color:#75FBFD;
    font-weight:600;
    cursor:default;
    margin-top: 0;
    font-size: .8em;
}
.navbar{
    margin-right: 15px;
    margin-top: 0;
    right: 0;
    transition: right 5s ease;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
 .navbar a{
    font-size: 1.15em;
    color: var(--text-color);
    margin-left:18px;
    transition:.3s;
    font-weight: 600;
}
.navbar a:hover, .navbar a.active, a::after{
   color: var(--main-color);
    text-decoration:underline;
}
#menu-icon{
    font-size: 2em;
    fill: var(--text-color);
    color: var(--text-color);
    display:none;
    margin-bottom: 20px;
    cursor: pointer;
}
@media(max-width:767px){
    html{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    #bdy{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .header{
        width: 100%;
        margin: 0;
        padding: 3px 7px;
    }
    #menu-icon{
        display: block;
        fill: var(--text-color);
        color: var(--text-color);
        font-size: 2.5em;
        right: 0rem;
        top: 10px;
        position: absolute;
        transition: 2s;
    }
    .navbar{
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 100%;
        right: 0;
        width: 100%;
        min-height: 100vh;
        overflow-y: scroll;
        text-align: center;
        color: whitesmoke;
        padding: 20px;
        background:var(--bg-color);
        border-top:.1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
}
    .navbar.active{
        display: block;
        margin-top: 0px;
        margin-right: 0;
    }
    .navbar a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.2em;
        color: aqua;
        margin-bottom: 10px;
    }
    .navbar a:hover{
        text-decoration: none;
        text-transform: none;
        padding: 0;
        margin: 0;
        background-color:transparent;
        color:aliceblue;
    }
    .navbar a::after{
        color: white;
    }
}
/*NAVBAR ANIMATE*/
.animate{
    -webkit-animation: zoom 1s;
     animation: zoom 1s
}
@-webkit-keyframes zoom{
    form {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    form { transform:scale(0)} 
    to { transform:scale(1)}
}


/*HOME SECTION*/
.home{
    display:flex;
    column-gap: 100px;
    padding: 30px;
    min-height: 50vh;
    margin: 170px 0 200px 0;
}
#person{
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 0px;
}
#hello, #andy{
    font-size: 2.5em;
}
#andy{
    color: aliceblue;
    font-size: 2em;
}
h1 img{
    border-radius: 50%;
    margin-bottom: -20px;
}
span{
   color:#75FBFD;
}
.home-content h1{
    font-weight:700;
    color:#75FBFD;
}
.body{
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body h6{
    font-size: 2.5em;
    color: whitesmoke;
}
.body h6 > span{
    position: relative;
    display: inline-block;
    color: aqua;
    height: 40px;
    vertical-align: bottom;
    overflow: hidden;
}
.body h6 > span > span{
    display: block;
    animation: animateWords 15s infinite ease;
    font-size: .7em;
}
@keyframes animateWords {
    10% {transform: translateY(0%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-200%);}
    75% {transform: translateY(-300%);}
    100% {transform: translateY(-400%);}
}
.home-content p{
    color:var(--text-color);
    font-family:'Poppins', sans-serif;
    font-weight:0;
    width: 100%;
}
.social-media{
    position: relative;
    z-index: 10;
}
.social-media a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius:35%;
    border: none;
    font-size: 1.7em;
    margin-bottom: 20px;
    margin-top: 20px;
    transition:.5s ease;
    padding: 18px;
    margin-right: 15px;
    box-shadow: 0 0 10px 0 black;
}
.WhatsApp-link{
    color: white;
    background-color: #25D366; 
}
.Instagram-link{
    color: rgb(255, 255, 255, .8);
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134B8, #515BD4);
}
.LinkedIn-link{
    color: #0077B5;
}
.social-media .github{
    color: #181717;
    margin-right: 0;
}
.social-media a:hover{
    transform:scale(1.05);
    background-color: #034546 ;
    box-shadow:0 0 1rem  #75FBFD;
    cursor: pointer;
}
.home-content #btn{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 0;
}
#btn a{
    margin: 10px 0;
    width: auto;
    color: #0f295a;
    background-color: #0ef;
    transition: .8s;
    padding: 4px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
    height: auto;
    font-weight: 600;
    border-style: outset;
    border: 0px solid #0f295a;
}
#btn a:hover{
    color:#0ef;
    background-color: black;
    border: #0ef;
    box-shadow:0 0 20px  #75FBFD;
    cursor: pointer;
}
.home-img img{
    display: inline;
    border-radius: 20px;
    width: 390px;
    height: 400px;
    box-shadow: 0 0 10px 0 rgb(0, 238, 255);
}
.home-img img:hover{
    transform:scaleY(1.05);
}
@media(max-width:767px){
    .home{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 150px 0 100px 0;
        justify-content: center;
        align-items: center;
    }
    .home-content{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    #hello, #andy{
        text-align: left;
        margin-left: 20px;
        margin-bottom: 1px;
        font-size: 1.6em;
    }
    .home-content h1{
        text-align: left;
        margin-left: 20px;
        margin-bottom: 1px;
        font-size: 1.6em;
    }
    .home-content .body h6{
        margin-left: 0;
        margin-top: 30px;
        text-align: center;
    }
    .home-content .body{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .body h6 > span{
        font-size: 1.2rem;
        height: 60px;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .body h6 > span > span{
        display: block;
        font-size: 1.2em;
        animation: animateWords 20s infinite ease;
}
    @keyframes animateWords {
        10% {transform: translateY(0%);}
        25% {transform: translateY(-100%);}
        50% {transform: translateY(-200%);}
        75% {transform: translateY(-300%);}
        100% {transform: translateY(-400%);}
    }
    .home-content #person{
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    #btn{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }
    .home-content .btn button{
        font-size: 1.2rem;
        width: auto;
        height: auto;
        border-radius: 7px;
}
    .home-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 150px 0 50px 0;
    }
    .home-img img{
        border-radius: 20px;
        width: 95%;
        border: none;
}
}
@media (max-width: 400px){
     #me h6 > span > span{
        font-size: 1em;
     }
}
@media (max-width: 325px){
    #me h6 > span > span{
       font-size: .9em;
    }
}
/*ABOUT SECTION*/
.about{
    display: grid;
    grid-template-columns: 4fr 5fr;
    justify-content:center;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 100px 0;
    background: transparent;
    column-gap: 40px;
}
.about-content{
    padding: 0;
    display: inline;
}
.about h2{
    color:white;
    font-size: 2.5em;
    text-align: left;
    margin: 0;
}
.about-content h3{
    color:white;
    font-size: 2em;
    margin-bottom: 20px;
}
.about-content button{
    margin-right: 20px;
    margin-top: 20px;
    width: auto;
    height: auto;
    color: #0f295a;
    background-color: #0ef;
    transition: .8s;
    padding: 3px 10px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 7px;
    font-weight: 600;
    border-style: outset;
    border: 0px solid #0f295a;
}
.about-content button:hover{
    color:#0ef;
    background-color: #000000;
    border: #0ef;
    box-shadow:0 0 20px  #75FBFD;
    cursor: pointer;
}
/*SKILLS SECTION*/
.about .Skills{
    display: inline;
    margin: 0;
}
.Skills .heading h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5em;
}
.Skills .skill{
    background-color:transparent;
    border:aqua solid 2px;
    border-radius: 7px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align:center;
    color:black;
}
.Skills .btn{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    place-items: center;
    width:120px;
    padding: 15px 5px;
    text-align:center;
    color:aqua;
    font-weight: 500;
    background-color:transparent;
}
.Skills .btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 12px;
}
.btn img{
    border-radius: 35%;
}
#git img{
    background-color: #00fbff;
}
@media(max-width:767px){
    .about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 100px 0 0 0;
    }
    .about-content{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-content .heading{
        text-align: center;
        margin-bottom: 0px;
    }
    .about-content h3{
        margin-bottom: 30px;
        font-size: 1.8em;
    }
    .about-content h2{
        font-size: 2em;
    }
    .about button{
        height: auto;
        width: auto;
    }
    .about .Skills{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 100px 0 100px 0;
        padding: 0;
    }
    #skills .skill{
        width: 100%;
        justify-content: center;
        margin: 0;
        gap: 0px;
        text-align: center;
        padding: 0px;
        min-width: 50%;
    }
    #skills .skill .btn{
        font-size: 1.0rem;
    }
    #skills .skill .btn img{
        margin: 0;
        width: 90px;
        height: 90px;
    }
}

/*CERTIFICATION SECTION*/



/*SERVICES SECTION*/
.services{
    margin: 270px 0 100px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.services .heading{
    margin-bottom: 50px;
    font-size: 2.5em;
    text-align: center;
}
.services-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 0;
}
.services-container::after {
    content: "";
    width: 66%;
  }
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-align: center;
    width: 30%;
    min-height: 50vh;
    margin-bottom: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    padding: 12px;
    transition: .3s;
    box-shadow: 0 0 10px 0 black;
    background-color: transparent;
}
.services-box:hover{
    cursor: pointer;
    transform: scale(.95);
}
.services-box #serve{
    margin-bottom: 0;
    color: aquamarine;
    font-size: 2em;
}
.services-box svg{
    margin-left: 40%;
    margin-right: 40%;
}
.services-box h1{
    text-align: center;
    margin-bottom: 20px;
}
.services-box #person{
    margin-top: 10px;
    margin-bottom: 50px;
}
.services-box button{
    width: auto;
    color: #0f295a;
    background-color: #0ef;
    transition: .5s;
    padding: 5px;
    text-align: center;
    justify-self: flex-end;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 8px;
    height: auto;
    border-style: outset;
    border: 0px solid #0f295a;
}
.services-box button:hover{
    color:#0ef;
    background-color: #000000;
    border: #0ef;
    box-shadow:0 0 20px  #75FBFD;
    cursor: pointer;
}
@media (max-width:990px){
    .services-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .services-box{
        margin-bottom: 50px;
        width: 45%;
    }
    .services .heading{
        margin-top: 0px;
        margin-left: 50px;
    }
}
@media(max-width: 767px) {
    .services{
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
    .services .heading{
        width: 100%;
        margin-left: 0;
    }
    .services-container{
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }
    .services-box{
        height: auto;
        width: 100%;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .services-box button{
        height: auto;
    }
}

/*CLIENTS SECTION*/
.portfolio-section {  
    text-align: center;  
    padding: 50px 0;  
    background-color: transparent;   
    margin-bottom: 50px;
    margin-top: 80px;  
    transition: all 0.3s ease;  
}  
.portfolio-section h1{
    font-size: 2.2em;
    flex-wrap: wrap;
}
.stats {  
    display: flex; 
    justify-content: space-around;  
    margin-top: 50px;  
}  
@media (max-width: 500px){
    .stats{
        flex-direction: column;
        gap: 50px;
    }
}
.stat-item {  
    text-align: center;  
}  

.counter {  
    font-size: 2.5em;  
    font-weight: 600;  
    color: #0ef;  
}  
.add{
    font-size: 2.5em;  
    font-weight: 600;  
    color: white; 
}
.stat-item p{
    font-weight: 600;
    font-size: 1.3em;
}

/*PORTFOLIO OR PROJECTS SECTION*/
.portfolio{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
}
.portfolio h2{
    color:white;
    margin-bottom: 70px;
    text-align: center;
    font-size: 2.5em;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 0 0;
    gap: 40px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.portfolio-box{
    padding: 15px;
    text-align: center;
    border-radius: 14px;
    background-color: transparent;
    transition: .6s;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 0 black;
}
.portfolio-box:hover{
    transform:scale(.95);
    border: none;
    cursor: pointer;
}
.portfolio-box img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.portfolio h4{
    font-size: 1.7em;
    font-weight:600;
    text-align:center;
    color: #0ef;
    line-height: 30px;
    margin-bottom: 15px;
}
.portfolio-box p{
    font-size: 1.3em;
    line-height: 23px;
}
.portfolio-box svg:hover{
    cursor: pointer;
}
.portfolio-box svg{
    height: 40px;
    width: 40px;
}
#click{
    display: none;
}
.portfolio-container .portfolio-box .portfolio-layer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(rgb(0, 0, 0), rgb(0, 0, 81));
    display:flex;
    opacity:0;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding: 0 10px;
    transform:translateY(100%);
    transition:.7s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform:translateY(0);
    border-radius: 14px;
    opacity:1;
    cursor: pointer;
}
@media (max-width:990px){
    .portfolio-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .portfolio-box{
        margin-bottom: 50px;
        width: 45%;
    }
}
@media(max-width: 767px){
    .portfolio{
        width: 100%;
        margin-bottom: -100px;
    }
    .portfolio .heading{
        margin-left: 0px;
        width: 100%;
    }
    .portfolio-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .portfolio-container .portfolio-box{
        width: 100%;
        min-height: 40vh;
        margin-bottom: 0;
    }
    .portfolio-box .portfolio-layer svg{
        height: 50px;
        width: 50px;
    }
    .portfolio-layer{
        height: 100%;
    }
    .portfolio-box img{
        min-height: 40vh;
    }
    .portfolio-box .portfolio-layer svg{
        height: 80px;
    }
}
/*CONTACTS SECTION*/
.contact{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
}
.contact h2{
    color:white;
    margin-bottom: 3rem;
    margin-top: 100px;
    font-size: 2.5em;
    text-align: center;
}
.contact h4{
    font-size: 5em;
    width: 100%;
    margin-bottom: 40px;
    line-height: 120px;
}
.contact h4 span{
    color: rgb(90, 90, 208);
    text-shadow: 12px 12px 0px rgba(55, 7, 83, 0.2);
    text-shadow: 0 1px 0 #c3acac, 0 2px 0 #cbb2b2, 0 3px 0 #cdb4b4, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.contact form{
    width: 80%;
    margin: auto;
    text-align:center;
    margin-bottom:30px;
    border-radius:15px;
}
.contact form .input-box{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
@media (max-width:600px){
    .contact form .input-box{
        display: flex;
    }
    .contact form .input-box input, 
.contact form textarea{
    min-width: 100%;
}
}
.contact form .input-box input, 
.contact form textarea{
    width:100%;
    padding:10px;
    font-size: 1em;
    line-height: 1.3em;
    color:white;
    background-color: rgb(14, 114, 121);
    border-radius:7px;
    margin:.7rem 0 .3rem 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
}
.contact form input::placeholder, textarea::placeholder{
    color: white;
}
.contact form .input-box input{
    width:49%;
}
.contact-form input:focus, .contact-form textarea:focus{
    background: transparent;
}
.contact form textarea{
    resize:none;
    min-height: 50vh;
}
.contact form .btn{
    margin-top:2rem;
    cursor:pointer;
    background-color: #0ef;
    color: #0f295a;
    transition: .6s;
    font-size: 1.4em;
    padding: 7px;
    width: 250px;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 0 10px 0 black;
}
.contact form .btn:hover{
    background-color: #000000;
    color: #0ef;
}
@media (max-width: 460px){
    .contact h4{
        width: 100%;
    }
}
@media(max-width:767px){
    .contact{
        width: 100%;
    }
    .contact h4{
        width: 100%;
        flex-wrap: wrap;
        line-height: 1.7em;
        font-size: 2.8em;
    }
    .contact form{
        width: 100%;
        min-height: 40vh;
    }
    .contact form input[type="submit"]{
        font-size: 1.5rem;
        width: 80%;
        height: auto;
    }
    .contact form textarea{
        min-height: 30vh;
    }
    .contact form input::placeholder, textarea::placeholder{
        line-height: 1.7rem;
    } 
    .contact form input{
        height: auto;
    }
}


.footer{
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
}
.footer-text p{
    font-size: 1.1em;
    line-height: 1.5rem;
    position: relative;
    bottom: 0;
}
.footer-iconTop a{
    text-decoration-line: none;
    position: fixed;
    bottom: 3rem;
    left: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 111;   
    color: #0ef;
    
}
@media(max-width: 767px){
    .footer{
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
    .footer-text{
        width: 100%;
    }
    .footer .footer-iconTop a{
        bottom: 1rem;
    }
}
/*WHATSAPP ICON*/
    #whatsapp{
        position: fixed;
        right: 10px;
        bottom: 80px;
        color: aliceblue;
        font-size: 1.1rem;
        line-height: 1.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: green;
        padding: 2px 5px;
        border-radius: 16px;
        cursor: pointer;
        box-shadow: 0 0 10px 0 black;
        z-index: 999;
}
    #whatsapp i{
        font-size: 2em;
    }
    #whatsapp #text{
        cursor: pointer;
        color: white;
        margin-right: 10px;
    }
